<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxy.seckill.seckillmanagement.dao.TownDAOMapper">

  <select id="townCount" parameterType="com.xxy.seckill.seckillmanagement.service.model.TownModel" resultType="integer">
    select COUNT(*)
    from town
    <where>
      <include refid="condition"></include>
    </where>
  </select>

  <resultMap id="BaseResultMap" type="com.xxy.seckill.seckillmanagement.dataobject.TownDAO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="town_id" jdbcType="VARCHAR" property="townId" />
    <result column="country_id" jdbcType="VARCHAR" property="countryId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, town_id, country_id
  </sql>

  <select id="listTown" parameterType="com.xxy.seckill.seckillmanagement.service.model.TownModel" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from town
    <where>
      <include refid="condition"></include>
    </where>
  </select>

  <sql id="condition">
    <if test="id != null and id!=''">
      and id =#{id,jdbcType=INTEGER}
    </if>
    <if test="name != null and name != ''">
      and name= #{name,jdbcType=VARCHAR}
    </if>
    <if test="townId != null and townId !=''">
      and town_id= #{townId,jdbcType=VARCHAR}
    </if>
    <if test="countryId != null and countryId !=''">
      and country_id= #{countryId,jdbcType=VARCHAR}
    </if>
  </sql>

</mapper>